
ALTER PROC [dbo].[pr_atualiza_csi500] AS

INSERT INTO Tempo (DataCompleta, Ano, Mes, Dia, Trimestre, Semestre, DiaSemana, NomeDiaSemana, NomeMes, EhFimDeSemana, EhFeriado)
SELECT DISTINCT
    [date],
    YEAR([date]),
    MONTH([date]),
    DAY([date]),
    DATEPART(QUARTER, [date]),
    CASE WHEN MONTH([date]) <= 6 THEN 1 ELSE 2 END,
    DATEPART(WEEKDAY, [date]),
    DATENAME(WEEKDAY, [date]),
    DATENAME(MONTH, [date]),
    CASE WHEN DATEPART(WEEKDAY, [date]) IN (1, 7) THEN 1 ELSE 0 END,
    0
FROM datasets.dbo.CSI500
WHERE [date] IS NOT NULL
  AND NOT EXISTS (SELECT 1 FROM Tempo WHERE DataCompleta = [date]);


--TODO tem duas colunas que não tem dados
WITH RankedCompanies AS (
    SELECT DISTINCT
        c.codigo_empresa,
        c.nome_empresa_en,
        c.industry_en,
        -- c.subindustry_en, -- Coluna comentada (não há dados)
        -- c.region_en, -- Coluna comentada (não há dados)
        c.[date],
        ROW_NUMBER() OVER (PARTITION BY c.codigo_empresa ORDER BY c.[date]) as rn
    FROM datasets.dbo.CSI500 c
    WHERE c.codigo_empresa IS NOT NULL
),
FirstDatePerCompany AS (
    SELECT
        codigo_empresa,
        nome_empresa_en,
        industry_en,
        -- subindustry_en, -- Coluna comentada (não há dados)
        -- region_en, -- Coluna comentada (não há dados)
        MIN([date]) OVER (PARTITION BY codigo_empresa) AS DataPrimeiraObservacao
    FROM RankedCompanies
    WHERE rn = 1
)
MERGE EmpresasCSI500 AS target
USING FirstDatePerCompany AS source
ON target.CodigoEmpresa = source.codigo_empresa
WHEN NOT MATCHED THEN
    INSERT (CodigoEmpresa, NomeEmpresa, NomeEmpresaEN, Industria, SubIndustria, Regiao, DataPrimeiraObservacao)
    VALUES (
        source.codigo_empresa, 
        NULL, -- NomeEmpresa (não fornecido, então insira como NULL ou outro valor adequado)
        source.nome_empresa_en, 
        source.industry_en, 
        NULL, -- SubIndustria (não fornecido, então insira como NULL ou outro valor adequado)
        NULL, -- Regiao (não fornecido, então insira como NULL ou outro valor adequado)
        source.DataPrimeiraObservacao
    );


INSERT INTO PrecoAcaoCSI500 (
    CodigoEmpresa,
    IdTempo,
    PrecoAbertura,
    PrecoMaximo,
    PrecoMinimo,
    PrecoFechamento,
    Volume,
    Amount,
    OutstandingShare,
    Turnover
)
SELECT
    c.codigo_empresa,
    t.IdTempo,
    TRY_CAST(c.[open] AS DECIMAL(18,4)),
    TRY_CAST(c.[high] AS DECIMAL(18,4)),
    TRY_CAST(c.[low] AS DECIMAL(18,4)),
    TRY_CAST(c.[close] AS DECIMAL(18,4)),
    TRY_CAST(c.volume AS DECIMAL(20,2)),
    TRY_CAST(c.amount AS DECIMAL(20,2)),
    TRY_CAST(c.outstanding_share AS DECIMAL(20,2)),
    TRY_CAST(c.turnover AS DECIMAL(18,8))
FROM datasets.dbo.CSI500 c
INNER JOIN Tempo t ON t.DataCompleta = c.[date]
WHERE c.codigo_empresa IS NOT NULL
  AND c.[date] IS NOT NULL
  AND EXISTS (SELECT 1 FROM EmpresasCSI500 WHERE CodigoEmpresa = c.codigo_empresa);


INSERT INTO CSI500Historico (DataReferencia, ValorMedioMercado, VolumeTotal, QtdEmpresasNegociadas)
SELECT
    c.[date],
    AVG(TRY_CAST(c.[close] AS DECIMAL(18,4))) AS ValorMedioMercado,
    SUM(TRY_CAST(c.volume AS DECIMAL(20,2))) AS VolumeTotal,
    COUNT(DISTINCT c.codigo_empresa) AS QtdEmpresasNegociadas
FROM datasets.dbo.CSI500 c
WHERE c.[date] IS NOT NULL
  AND TRY_CAST(c.[close] AS DECIMAL(18,4)) IS NOT NULL
  AND NOT EXISTS (SELECT 1 FROM CSI500Historico WHERE DataReferencia = c.[date])
GROUP BY c.[date];
