

ALTER PROC [dbo].[pr_atualiza_sp500] AS

INSERT INTO Tempo (DataCompleta, Ano, Mes, Dia, Trimestre, Semestre, DiaSemana, NomeDiaSemana, NomeMes)
SELECT DISTINCT
    observation_date,
    YEAR(observation_date),
    MONTH(observation_date),
    DAY(observation_date),
    DATEPART(QUARTER, observation_date),
    CASE WHEN MONTH(observation_date) <= 6 THEN 1 ELSE 2 END,
    DATEPART(WEEKDAY, observation_date),
    DATENAME(WEEKDAY, observation_date),
    DATENAME(MONTH, observation_date)
FROM datasets.dbo.SP500
WHERE observation_date IS NOT NULL
  AND NOT EXISTS (SELECT 1 FROM Tempo WHERE DataCompleta = observation_date);


WITH RankedCompanies AS (
    SELECT DISTINCT
        cik,
        company_name,
        symbol,
        sector,
        date_added_sp500,
        TRY_CAST(founded_year AS SMALLINT) AS founded_year,
        ROW_NUMBER() OVER (PARTITION BY cik ORDER BY symbol) as rn
    FROM datasets.dbo.SP500
    WHERE cik IS NOT NULL
)
MERGE Empresas AS target
USING (
    SELECT
        cik,
        company_name,
        symbol,
        sector,
        date_added_sp500,
        founded_year
    FROM RankedCompanies
    WHERE rn = 1
) AS source
ON target.CIK = source.cik
WHEN MATCHED THEN
    UPDATE SET
        NomeEmpresa = source.company_name,
        Ticker = source.symbol,
        Setor = source.sector,
        DataEntrada = source.date_added_sp500,
        AnoFundacao = source.founded_year
WHEN NOT MATCHED THEN
    INSERT (CIK, NomeEmpresa, Ticker, Setor, DataEntrada, AnoFundacao)
    VALUES (source.cik, source.company_name, source.symbol, source.sector,
            source.date_added_sp500, source.founded_year);




WITH RankedSubSectors AS (
    SELECT DISTINCT
        cik,
        sector,
        sub_industry,
        ROW_NUMBER() OVER (PARTITION BY cik ORDER BY symbol) as rn
    FROM datasets.dbo.SP500
    WHERE cik IS NOT NULL
)
MERGE SubSetor AS target
USING (
    SELECT
        cik,
        sector,
        sub_industry
    FROM RankedSubSectors
    WHERE rn = 1
) AS source
ON target.CIK = source.cik
WHEN MATCHED THEN
    UPDATE SET
        Industria = source.sector,
        SubIndustria = source.sub_industry,
        Categoria = source.sector
WHEN NOT MATCHED THEN
    INSERT (CIK, Industria, SubIndustria, Categoria)
    VALUES (source.cik, source.sector, source.sub_industry, source.sector);




WITH RankedLocations AS (
    SELECT DISTINCT
        cik,
        CASE
            WHEN CHARINDEX(',', headquarters) > 0
            THEN LTRIM(RTRIM(REPLACE(REPLACE(SUBSTRING(headquarters, 1, CHARINDEX(',', headquarters) - 1), '"', ''), '''', '')))
            ELSE LTRIM(RTRIM(REPLACE(REPLACE(headquarters, '"', ''), '''', '')))
        END AS cidade,
        CASE
            WHEN CHARINDEX(',', headquarters) > 0
            THEN LTRIM(RTRIM(REPLACE(REPLACE(SUBSTRING(headquarters, CHARINDEX(',', headquarters) + 1, LEN(headquarters)), '"', ''), '''', '')))
            ELSE NULL
        END AS estado,
        ROW_NUMBER() OVER (PARTITION BY cik ORDER BY symbol) as rn
    FROM datasets.dbo.SP500
    WHERE cik IS NOT NULL AND headquarters IS NOT NULL
),
LocationWithRegion AS (
    SELECT
        cik,
        cidade,
        estado,
        -- Derivar Regiao do Estado
        CASE
            WHEN estado IN ('California', 'Oregon', 'Washington', 'Nevada', 'Arizona', 'Hawaii', 'Alaska') THEN 'West'
            WHEN estado IN ('Texas', 'Oklahoma', 'New Mexico', 'Arkansas', 'Louisiana') THEN 'Southwest'
            WHEN estado IN ('Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Minnesota', 'Iowa', 'Missouri', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas') THEN 'Midwest'
            WHEN estado IN ('New York', 'Pennsylvania', 'New Jersey', 'Massachusetts', 'Connecticut', 'Rhode Island', 'Vermont', 'New Hampshire', 'Maine') THEN 'Northeast'
            WHEN estado IN ('Florida', 'Georgia', 'North Carolina', 'South Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'Kentucky', 'Tennessee', 'Alabama', 'Mississippi') THEN 'Southeast'
            WHEN estado IN ('Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah') THEN 'Mountain'
            ELSE 'Other'
        END AS regiao
    FROM RankedLocations
    WHERE rn = 1
)
MERGE Localizacao AS target
USING LocationWithRegion AS source
ON target.CIK = source.cik
WHEN MATCHED THEN
    UPDATE SET
        Cidade = source.cidade,
        Estado = source.estado,
        Pais = 'Estados Unidos',
        Regiao = source.regiao
WHEN NOT MATCHED THEN
    INSERT (CIK, Cidade, Estado, Pais, Regiao, CodigoPostal)
    VALUES (source.cik, source.cidade, source.estado, 'Estados Unidos', source.regiao, NULL);


INSERT INTO PrecoAcao (
    CIK,
    IdTempo,
    PrecoAbertura,
    PrecoMaximo,
    PrecoMinimo,
    PrecoFechamento,
    PrecoFechamentoAjustado,
    Volume,
    VariacaoDiaria,
    VariacaoPercentual
)
SELECT
    sp.cik,
    t.IdTempo,
    sp.open_price,
    sp.high_price,
    sp.low_price,
    sp.close_price,
    sp.close_price,
    sp.volume,
    NULL,
    sp.price_change_percent
FROM datasets.dbo.SP500 sp
INNER JOIN Tempo t ON t.DataCompleta = sp.observation_date
WHERE sp.cik IS NOT NULL
  AND sp.observation_date IS NOT NULL
  AND EXISTS (SELECT 1 FROM Empresas WHERE CIK = sp.cik);


INSERT INTO Dividendos (
    CIK,
    IdTempo,
    ValorDividendo,
    TipoDividendo,
    FrequenciaPagamento,
    DataExDividendo,
    DataPagamento
)
SELECT
    sp.cik,
    t.IdTempo,
    sp.dividend_yield,
    'Yield',
    NULL,
    sp.observation_date,
    NULL
FROM datasets.dbo.SP500 sp
INNER JOIN Tempo t ON t.DataCompleta = sp.observation_date
WHERE sp.cik IS NOT NULL
  AND sp.observation_date IS NOT NULL
  AND sp.dividend_yield IS NOT NULL
  AND sp.dividend_yield > 0
  AND EXISTS (SELECT 1 FROM Empresas WHERE CIK = sp.cik);



WITH PrecoComAnterior AS (
    SELECT
        IdPrecoAcao,
        CIK,
        PrecoFechamento,
        LAG(PrecoFechamento) OVER (PARTITION BY CIK ORDER BY IdTempo) AS PrecoAnterior
    FROM PrecoAcao
    WHERE PrecoFechamento IS NOT NULL
)
UPDATE p
SET VariacaoDiaria = pca.PrecoFechamento - pca.PrecoAnterior
FROM PrecoAcao p
INNER JOIN PrecoComAnterior pca ON p.IdPrecoAcao = pca.IdPrecoAcao
WHERE pca.PrecoAnterior IS NOT NULL;



INSERT INTO SP500Historico (DataReferencia, ValorFechamento, ValorAbertura, ValorMaximo, ValorMinimo, VolumeNegociado)
SELECT
    sp.observation_date,
    ISNULL(
        (SELECT AVG(TRY_CAST(sp2.sp500_index AS DECIMAL(18,2)))
         FROM datasets.dbo.SP500 sp2
         WHERE sp2.observation_date = sp.observation_date AND sp2.sp500_index IS NOT NULL),
        AVG(TRY_CAST(sp.close_price AS DECIMAL(18,2)))
    ) AS ValorFechamento,
    ISNULL(
        (SELECT AVG(TRY_CAST(sp2.sp500_index AS DECIMAL(18,2)))
         FROM datasets.dbo.SP500 sp2
         WHERE sp2.observation_date = sp.observation_date AND sp2.sp500_index IS NOT NULL),
        AVG(TRY_CAST(sp.open_price AS DECIMAL(18,2)))
    ) AS ValorAbertura,
    ISNULL(
        (SELECT AVG(TRY_CAST(sp2.sp500_index AS DECIMAL(18,2)))
         FROM datasets.dbo.SP500 sp2
         WHERE sp2.observation_date = sp.observation_date AND sp2.sp500_index IS NOT NULL),
        MAX(TRY_CAST(sp.high_price AS DECIMAL(18,2)))
    ) AS ValorMaximo,
    ISNULL(
        (SELECT AVG(TRY_CAST(sp2.sp500_index AS DECIMAL(18,2)))
         FROM datasets.dbo.SP500 sp2
         WHERE sp2.observation_date = sp.observation_date AND sp2.sp500_index IS NOT NULL),
        MIN(TRY_CAST(sp.low_price AS DECIMAL(18,2)))
    ) AS ValorMinimo,
    SUM(TRY_CAST(sp.volume AS BIGINT)) AS VolumeNegociado
FROM datasets.dbo.SP500 sp
WHERE sp.observation_date IS NOT NULL
  AND NOT EXISTS (
      SELECT 1 FROM SP500Historico
      WHERE DataReferencia = sp.observation_date
  )
GROUP BY sp.observation_date;

